[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "breathtestcore"]
	path = breathtestcore
	url = https://github.com/dmenne/breathtestcore
[submodule "breathteststan"]
	path = breathteststan
	url = https://github.com/dmenne/breathteststan
[submodule "gastempt"]
	path = gastempt
	url = https://github.com/dmenne/gastempt
[submodule "tippy"]
	path = tippy
	url = https://github.com/JohnCoene/tippy
	registered = false
